<template lang="pug">
  section(class="section")
    h2(class="title is-2") Completed
    div(class="list") 
      transition-group(name="fade")
        div(class="list-item" v-for="(item, key) in todolist" :key="key")
          span(class="content") {{ item.content }}
          span(class="icon")
            i(class="fa fa-reply" @click="undo(item)")
          span(class="icon")
            i(class="fa fa-times" @click="remove(item)")
</template>
<script>
export default {
  name: 'completed',
  props: {
    todolist: Array,
  },
  methods: {
    remove(item) {
      this.$emit('remove', item['.key']);
    },
    undo(item) {
      this.$emit('undo', item);
    },
  },
};
</script>
<style lang="sass" scoped>
.list
  border-top: solid 5px #c2c2c2

.list-item
  display: flex
  align-items: center
  border-bottom: solid 1px #979797
  line-height: 50px
  &:hover
    background-color: #f5f5f5

.content
  flex-basis: 80%
  color: #737373
  margin-left: 15px
  font-size: 2.0rem
  margin-bottom: 0  // bulma preset overwrite
    
.icon
  flex-basis: 10%
  cursor: pointer

.fa-reply
  font-size: 1.6rem
  &:hover
    color: #2ED3D5
.fa-times
  font-size: 1.85rem
  &:hover
    color: #2ED3D5
</style>

