<template lang="pug">
  section(class="hero is-mint")
    div(class="hero-body")
      div(class="item-container")
        h1(class="title has-text-white") To-do's

        input(class="input"
        type="text"
        @input="setInputValue"
        :value="content"
        @keyup.enter="submitTodoItem")

        div(class="button-container")
          a(class="button is-large is-mint-btn"
          @click.prevent="submitTodoItem") Apply
</template>
<script>
export default {
  name: 'item',
  data: () => ({
    content: null,
  }),
  methods: {
    setInputValue(e) {
      if (e.target.value) {
        this.content = e.target.value;
      }
    },
    submitTodoItem() {
      if (this.content) {
        this.$emit('submitTodoItem', this.content);
        this.content = null;
      }
    },
  },
};
</script>
<style lang="sass" scoped>

.item-container
  max-width: 1440px
  margin: 0 auto
  display: flex
  align-items: center
  @media screen and (max-width: 950px)
    display: block
  & .title
    margin: 0
    font-size: 4rem
    flex-basis: 15%
    padding-left: 15px
    @media screen and (max-width: 950px)
      flex-basis: 100%
      margin-bottom: 20px
  & .input
    font-size: 2.2rem
    flex-basis: 75%
    height: 40px
    @media screen and (max-width: 950px)
      display: inline-block
      width: 85%
    @media screen and (max-width: 570px)
      width: 80%
  & .button-container
    flex-basis: 10%
    padding-left: 20px
    @media screen and (max-width: 950px)
      display: inline-block
      width: 15%
    @media screen and (max-width: 570px)
      width: 20%
    & .button
      width: 80%
      height: 40px
      font-weight: bold
      border: 2px solid #FFF

.is-mint
  background-color: #2ED3D5
  box-shadow: 0 5px 10px 0 rgba(109, 103, 103, 0.5)
  padding: 40px 0

.is-mint-btn
  background-color: #2ED3D5
  color: #FFF
  border-color: #FFF
  &:hover
    background-color: #FFF
    color: #2ED3D5
</style>


