<template lang="pug">
  section(class="section")
    h2(class="title is-2") Tasks
    div(class="list") 
      transition-group(name="fade")
        div(class="list-item" v-for="(item, key) in todolist" :key="key")
          span(class="icon")
            i(class="fa fa-circle-thin" @click.stop="setComplete($event, item)")
          span(class="content") {{ item.content }}
          span(class="icon")
            i(class="fa fa-pencil")
          span(class="icon")
            i(class="fa fa-times" @click="remove(item)")
</template>
<script>
export default {
  name: 'task',
  props: {
    todolist: Array,
  },
  methods: {
    remove(item) {
      this.$emit('remove', item['.key']);
    },
    setComplete(e, item) {
      const contentText = e.target;
      contentText.parentNode.nextSibling.style.textDecoration = 'line-through';
      contentText.classList = 'fa fa-circle is-mint';
      setTimeout(() => {
        this.$emit('setComplete', item);
        contentText.parentNode.nextSibling.style.textDecoration = 'none';
        contentText.classList = 'fa fa-circle-thin';
      }, 500);
    },
  },
};
</script>
<style lang="sass" scoped>
.list
  border-top: solid 5px #c2c2c2

.list-item
  display: flex
  align-items: center
  border-bottom: solid 1px #979797
  line-height: 50px
  &:hover
    background-color: #f5f5f5

.content
  flex-basis: 80%
  color: #737373
  font-size: 2.0rem
  margin-bottom: 0  // bulma preset overwrite
    
.icon
  flex-basis: 10%
  cursor: pointer

.fa-pencil
  font-size: 1.6rem
  &:hover
    color: #2ED3D5
.fa-times
  font-size: 1.85rem
  &:hover
    color: #2ED3D5
</style>

