<template lang="pug">
  div(id="app" class="container-fluid")
    Item(@submitTodoItem="add")
    div(class="columns set-max-width")
      div(class="column is-6")
        Task(:todolist="sendIncompleted" @remove="remove" @setComplete="changeStatus")
      div(class="column is-6")
        Completed(:todolist="sendCompleted" @remove="remove" @undo="changeStatus")
</template>

<script>
import Item from '@/components/Item';
import Task from '@/components/Task';
import Completed from '@/components/Completed';
import db from '@/firebase';

export default {
  name: 'app',
  components: {
    Item,
    Task,
    Completed,
  },
  firebase: {
    todolist: db.ref('todolist'),
  },
  computed: {
    sendIncompleted() {
      return this.todolist.filter(el => !el.completed);
    },
    sendCompleted() {
      return this.todolist.filter(el => el.completed);
    },
  },
  methods: {
    changeStatus(item) {
      const ref = db.ref('todolist');
      const itemToChange = { ...item };
      delete itemToChange['.key'];
      itemToChange.completed = !itemToChange.completed;
      ref.child(item['.key']).set(itemToChange);
    },
    add(v) {
      const ref = db.ref('todolist');
      ref.push({
        content: v,
        completed: false,
      });
    },
    remove(key) {
      const ref = db.ref('todolist');
      ref.child(key).remove();
    },
  },
};
</script>
<style lang="sass">
html, body
  font-size: 10px

.is-mint
  color: #2ED3D5

.set-max-width
  max-width: 1440px
  margin: 0 auto
</style>
